.chat {
    background-color: var(--secondary-color);
    height: calc(100vh - 180px);
    width: 100%;
    position: relative;
    z-index: 99
}

.chat__messages {
    display: flex;
    flex-direction: column;
}

/* .chat__message-input {
    background-color: var(--secondary-color);
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} */