.start-new-chat {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.3s;
    font-size: 1.1rem;
    gap: 30px;
}

.start-new-chat svg {
    transform: scale(2.4);
}

.start-new-chat svg:hover {
    cursor: pointer;
    fill: var(--purple)
}