/* --------------------------------- */
/* -------------- date ------------- */
/* --------------------------------- */

.hide-date {
    visibility: hidden;
    height: 0px;
}

.show-date {
    display: block;
    color: var(--secondary-color-light);
    font-size: 0.75rem;
    margin: 33px 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 2px solid var(--secondary-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
} 

.show-date > p {
    color: var(--secondary-color-light);
    background-color: var(--secondary-color);
    position: relative;
    top: 7.5px;
    padding: 0 20px;
    font-weight: 700;
} 


/* --------------------------------- */
/* ------ left message bubble ------ */
/* --------------------------------- */

.message-bubble:first-of-type {
    margin-top: 30px;
}

.message-bubble:last-of-type {
    margin-bottom: 60px;
}


.message-bubble {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    max-width: 70%;
    color: var(--tertiary-color);
    margin-top: 0px;
    margin-bottom: 7px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.message-bubble__avatar  {
    margin-right: 20px;
    position: relative;
    top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message_bubble__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: min-content;
    margin-left: 5px;
}

.main .info__show {
    visibility: hidden;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    text-align: left;
    height: min-content;
    width: 100%;
    margin: 0;
    margin-bottom: 0px;
    font-size: 0rem;
    font-weight: 0;
    transform-origin: left;
}

.main:hover .info__show {
    height: min-content;
    width: 100%;
    margin: 5px 5px;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--tertiary-color-dark);
    transition: 0.3s ease-in-out;
    transform: scale(1);
    visibility: visible;
    transform-origin: left;
}

.main .info__hide {
    display: none;
}

.message-bubble .visible {
    margin-top: 25px;
}

.info__username {
    /* width: min-content; */
    height: min-content;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--tertiary-color);
    max-width: 12ch;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info__username.deleted-user {
    color: var(--tertiary-color-dark);
    font-style: italic;
}

.info__username.deleted-user::before {
    content: "[";
    color: var(--tertiary-color-dark);
    font-style: italic;
}

.info__username.deleted-user::after {
    content: "]";
    color: var(--tertiary-color-dark);
    font-style: italic;
}

.info__time {
    height: min-content;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--tertiary-color-dark);
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.message-bubble__main {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--secondary-color-light);
    color: var(--tertiary-color);
    padding: 15px 20px;
    border-radius: 12.5px;
    font-size: 0.85rem;
    font-weight: 500;
    min-width: 30px;
    line-height: 2ch;
    width: fit-content;
}
/* --------------------------------- */
/* ------ right message bubble ----- */
/* --------------------------------- */

.message-bubble.align-right {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.align-right .message-bubble__main {
    background-color: var(--primary-color);
}

.align-right .message_bubble__info {
    flex-direction: row-reverse;
    margin-right: 5px;
}

.align-right .message_bubble__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.align-right .message-bubble__avatar  {
    margin-right: 0px;
    margin-left: 20px;
    position: relative;
    top: 2px;
}

.align-right .main .info__show {
    text-align: right;
    transform-origin: right;
    position: relative;
    right: 10px
}

.align-right .main:hover .info__show {
    text-align: right;
    transform-origin: right;
    position: relative;
    right: 10px
}


/* --------------------------------- */
/* ----------- meta data ----------- */
/* --------------------------------- */

.message-bubble__meta-data .send-status {
    display: none
}

.align-right .message-bubble__meta-data .send-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 34px
}

.message-bubble__meta-data svg {
    transform: scale(0.6);
}

.message-bubble__meta-data .sending {
    fill: var(--tertiary-color-dark)
}

.message-bubble__meta-data .sent {
    fill: var(--primary-color-light)
    /* fill: #02c39a */
}

.message-bubble__meta-data .failed {
    fill: var(--red)
}

/* --------------------------------- */
/* ------------ general ------------ */
/* --------------------------------- */

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}