/* --------------------------------- */
/* ------ left message bubble ------ */
/* --------------------------------- */

.message-bubble {
    align-self: flex-start;
    max-width: 70%;
    color: var(--tertiary-color);
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.message-bubble__avatar  {
    margin-right: 20px;
    position: relative;
    top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message_bubble__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    align-items: center;
    gap: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    height: min-content;
    margin-left: 5px;
}

.message-bubble .visible {
    margin-top: 20px;
}

.info__username {
    width: min-content;
    height: min-content;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--tertiary-color);
}

.info__time {
    height: min-content;
    text-align: left;
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--tertiary-color-dark);
}

.message-bubble__main {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--secondary-color-light);
    color: var(--tertiary-color);
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 400;
    min-width: 75px;
    line-height: 2ch;
    width: fit-content;

    /* padding-bottom: 0; */
}
/* --------------------------------- */
/* ------ right message bubble ----- */
/* --------------------------------- */

.message-bubble.align-right {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.align-right .message-bubble__main {
    background-color: var(--primary-color);
}

.align-right .message_bubble__info {
    flex-direction: row-reverse;
    margin-right: 5px;
}

.align-right .message_bubble__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.align-right .message-bubble__avatar  {
    margin-right: 0px;
    margin-left: 20px;
    position: relative;
    top: 2px;
}


/* --------------------------------- */
/* ----------- meta data ----------- */
/* --------------------------------- */

.message-bubble__meta-data .send-status{
    display: none
}

.align-right .message-bubble__meta-data .send-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 32px
}

.message-bubble__meta-data svg {
    transform: scale(0.45);
}

/* --------------------------------- */
/* ------------ general ------------ */
/* --------------------------------- */

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}