.chat-header {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
    color: var(--tertiary-color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.chat-header__group-info {
    display: flex;
    flex-direction: row;
}

.chat-header__meta-data {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 0px; */
}

.chat-header__meta-data > h3 {
    font-size: 1.1rem;
    font-weight: 800;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.chat-header__meta-data > p {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--tertiary-color-dark);
}



