.authentication-page {
    /* background-image: url('/public/background4.jpg');
    background-size: cover; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    background-color: #2D3142;
    background-color: var(--primary-color);
    background-color: black;
}

