.all-chats {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    max-width: 360px;
    padding: 0 30px;
    padding-top: 35px;
    position: relative;
    flex: 1;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-items: center;
}

