/* --------------------------------- */
/* -------------- input ------------ */
/* --------------------------------- */

.message-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 120px);
    position: absolute;
    background-color: var(--secondary-color-dark);
    bottom: 40px;
    z-index: 9999;
    /* border: 1px solid red; */
    padding: 12px 18px;
    border: 2px solid var(--secondary-color-light);
    border-radius: 15px;

}

.message-input:active,
.message-input:focus-within {
    border: none;
    border: 2px solid var(--primary-color)
}

.message-input textarea {
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit;
    padding: 5px 20px;
    color: var(--tertiary-color);
    outline: none;
    border: none;
    resize: none;
    font-size: 0.9rem;
    font-weight: 500;
    /* border: 1px solid blue; */

}

.message-input textarea::placeholder {
    color: var(--tertiary-color-dark)
}

/* --------------------------------- */
/* -------------- icons ------------ */
/* --------------------------------- */

.message-input__buttons svg {
    fill: var(--tertiary-color-dark);
    cursor: pointer;
    position: relative;
    top: 2px;
    transform: scale(1.1);
}

.message-input__buttons svg:hover {
    fill: var(--tertiary-color);
}

.emoji-keyboard {
    position: absolute;
    bottom: 110px;
    left: 60px;
    z-index: 99999;
}

.emoji-keyboard.show {
    display: block;
}

.emoji-keyboard.hide {
    display: none;
}

.emoji-icon {
    transition: 0.3s;
}

.message-input__buttons .cancel-icon {
    fill: var(--tertiary-color);
}

.message-input__buttons .cancel-icon:hover {
    fill: var(--tertiary-color);
}

.buttons__send.activate-button {
    fill: var(--tertiary-color)
}