.message-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: calc(100% - 160px);
    padding: 15px;
    position: absolute;
    bottom: 40px;
    border: 1.5px solid rgba(255, 255, 255, 0)
}

.message-input:active,
.message-input:focus-within {
    border: 1.5px solid var(--primary-color);

    border: 1.5px solid var(--black);
    border: 1.5px solid rgba(94, 43, 255, 1);

}

.message-input textarea {
    flex: 1;
    background-color: white;
    outline: none;
    border: none;
    resize: none;
    font-family: 'Catamaran', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    border-left: 2px solid rgb(240,240,240);
    padding-left: 15px;
    color: rgb(33, 59, 75);
}

.message-input__buttons svg {
    fill: rgb(33, 59, 75);
    transform: scale(0.95);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    top: 4px;
    margin-right: 15px;
}

.message-input__buttons svg:hover {
    fill: var(--primary-color);
    opacity: 1;
}

.message-input__buttons .emoji-icon:hover {
    fill: var(--primary-color);
    opacity: 1;
}

.emoji-keyboard {
    position: absolute;
    bottom: 115px;
    left: 80px;
}

.emoji-keyboard.show {
    display: block;
}

.emoji-keyboard.hide {
    display: none;
}

.emoji-icon {
    transition: 0.3s;
}

.cancel-icon {
    transition: 0.3s;
}

.message-input__buttons .cancel-icon {
    fill: var(--primary-color);
}