/* --------------------------------- */
/* -------------- input ------------ */
/* --------------------------------- */

.message-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    width: calc(100% - 100px);
    position: absolute;
    bottom: 35px;
    z-index: 99999;
}

.message-input:active,
.message-input:focus-within {
    border: none
}

.message-input textarea {
    flex: 1;
    background-color: var(--secondary-color);
    font-family: inherit;
    padding: 5px 15px;
    color: var(--tertiary-color);
    outline: none;
    border: none;
    resize: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.message-input textarea::placeholder {
    color: var(--tertiary-color-dark)
}

/* --------------------------------- */
/* -------------- icons ------------ */
/* --------------------------------- */

.message-input__buttons svg {
    fill: var(--tertiary-color-dark);
    cursor: pointer;
    position: relative;
    top: 2px;
}

.message-input__buttons svg:hover {
    fill: var(--tertiary-color);
}

.emoji-keyboard {
    position: absolute;
    bottom: 80px;
    left: 50px;
    z-index: 99999;
}

.emoji-keyboard.show {
    display: block;
}

.emoji-keyboard.hide {
    display: none;
}

.emoji-icon {
    transition: 0.3s;
}

.message-input__buttons .cancel-icon {
    fill: var(--tertiary-color);
}

.message-input__buttons .cancel-icon:hover {
    fill: var(--tertiary-color);
}

.buttons__send.activate-button {
    fill: var(--tertiary-color)
}