.message-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: var(--light-gray);
    padding: 0 10px;
    padding-top: 5px;
}

.message-input textarea {
    flex-grow: 1;
    width: 100%;
    background-color: var(--light-gray);
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
    resize: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white)
}

.message-input__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.message-input__buttons svg {
    fill: var(--white);
    opacity: 1;
    transform: scale(0.9);
    cursor: pointer;
}

.message-input__buttons svg:nth-child(1):hover {
    fill: var(--blue);
    opacity: 1;
    cursor: pointer;
}

.message-input__buttons svg:nth-child(2):hover {
    fill: var(--blue);
    opacity: 1;
    cursor: pointer;
}

.message-input__buttons svg:nth-child(3):hover {
    fill: var(--blue);
    opacity: 1;
    cursor: pointer;
}

.message-input__buttons svg:last-child {
    transform: scale(0.9);
    /* opacity: 1; */
    /* fill: var(--purple); */
}
