.new-chat {
    margin-right: 15px;
    background-color: var(--light-gray);
    border-radius: 15px;
    padding: 8.5px;
    cursor: pointer;
}

.new-chat > svg {
    fill: var(--white);
    opacity: 0.7;
    transition: 0.2s;
    transform: scale(0.9);
}

.new-chat > svg:hover {
    cursor: pointer;
    fill: var(--blue);
    opacity: 1;
}