.all-chats-header {
    padding: 0;
    padding-bottom: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(255, 0, 0, 0);
}

.all-chats__search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-dark);
    border-radius: 15px;
    border: 2px solid var(--secondary-color-light);
    padding: 10px 30px !important;
    gap: 10px;
}

.all-chats__search-bar svg {
    fill: var(--tertiary-color-dark);
    cursor: pointer;
    transition: 0.3s;
    /* background-color: blue; */
}

.all-chats__search-bar svg:hover {
    fill: var(--tertiary-color);
}

.all-chats__search-bar > input {
    background-color: var(--secondary-color-dark);
    outline: none;
    border: none;
    flex: 1;
    color: var(--tertiary-color-light);
    font-size: 0.9rem;
    padding: 5px 0;
    margin-left: 0px;
    font-weight: 500;
    /* background-color: red; */
    max-width: 80%;
}

.all-chats__search-bar > input::placeholder {
    color: var(--tertiary-color-dark);
    font-weight: 500;
}

.all-chats-header__match-count {
    color: var(--tertiary-color-dark);
    font-size: 0.7rem;
    margin-top: 7px;
    margin-bottom: 2px;
    font-weight: 500;
    background-color: var(--secondary-color-dark);
    padding: 4px 10px;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    position: absolute;
    bottom: -17px;
    z-index: 9;
    border: 2px solid var(--secondary-color-light);
}

.show-count {
    visibility: visible;
}

.hide-count {
    visibility: hidden;
}

.show-clear-search {
    visibility: visible
}

.hide-clear-search {
    visibility: hidden;
}