.unread-message-count {
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--tertiary-color);
    font-size: 0.55rem;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}