.login {
    background-color: var(--light-gray);
    color: var(--white);
    width: 400px;
    height: 430px;
    padding: 30px 40px;
    border-radius: 5px;
}

.login > h3 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.login > h4 {
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: 500;
    margin-bottom: 20px;
}

.form__email > p,
.form__password > p {
    text-align: left;
    font-size: 0.7rem;
    font-weight: 700;
    opacity: 0.9;
}

.form__email > input,
.form__password > input {
    background-color: var(--dark-gray);
    border: none;
    outline: none;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--white)
}

.form__email > p,
.form__password > p ,
.form__password > input  {
    margin-bottom: 10px;
}

.form__required {
    color: red;
    font-weight: 900;
    font-size: 0.9rem;
}

.forgot-your-password {
    margin-bottom: 25px;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 1px solid var(--light-gray);
    white-space: nowrap;
    width: min-content;
}

.forgot-your-password:hover {
    border-bottom: 1px solid var(--blue)
}

.form__login-button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    outline: none;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.1s;
}

.form__login-button:hover {
    background-color: rgba(107,138,253,0.8);
}

.login__register {
    margin-bottom: 25px;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--white);
    opacity: 0.8;
}

.login__register > p > span {
    color: var(--blue);
    border-bottom: 1px solid var(--light-gray);
    cursor: pointer;
}

.login__register > p > span:hover {
    border-bottom: 1px solid var(--blue);
}


