.nav-bar {
    height: 100vh;
    width: 65px;
    min-width: 65px;
    max-width: 65px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.nav-bar__logo,
.nav-bar__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.nav-bar svg {
    cursor: pointer;
    transition: 0.3s;
    fill: rgba(255, 255, 255, 0.6);

}

.nav-bar svg:hover {
    fill: var(--primary-color);
    fill: white;
}